Node-RED-flow1-http-dashboard.txt
[{"id":"4f136ffc.204058","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a97118d.256688","type":"inject","z":"4f136ffc.204058","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["ff547e32.7a2d3"]]},{"id":"ff547e32.7a2d3","type":"function","z":"4f136ffc.204058","name":"SayHelloWorld","func":"msg.payload = \"Hello World :-)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["913a2e43.82dae"]]},{"id":"913a2e43.82dae","type":"debug","z":"4f136ffc.204058","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"bbc843fb.70a57","type":"http in","z":"4f136ffc.204058","name":"RequestDate","url":"/datadioggi","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["9084af5a.0461c8"]]},{"id":"9084af5a.0461c8","type":"function","z":"4f136ffc.204058","name":"SetCurrentDate","func":"var today = new Date();\nvar d = today.getDate();\nvar m = today.getMonth()+1;\nvar y = today.getFullYear();\ntoday = d + '/' + m + '/' + y;\nmsg.payload = today;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["672ed5cf.049614"]]},{"id":"672ed5cf.049614","type":"http response","z":"4f136ffc.204058","name":"HTTPout","statusCode":"","headers":{},"x":480,"y":180,"wires":[]},{"id":"c47edbe4.42c99","type":"inject","z":"4f136ffc.204058","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["e53470b.0dae69"]]},{"id":"e53470b.0dae69","type":"function","z":"4f136ffc.204058","name":"Random","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":260,"wires":[["4a3814de.6a5b6c","e773003b.677ea8","11b51b6a.9334d5"]]},{"id":"4a3814de.6a5b6c","type":"ui_slider","z":"4f136ffc.204058","name":"","label":"slider","tooltip":"","group":"75ff2419.1bec1c","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":450,"y":240,"wires":[[]]},{"id":"e773003b.677ea8","type":"ui_gauge","z":"4f136ffc.204058","name":"","group":"75ff2419.1bec1c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","className":"","x":450,"y":300,"wires":[]},{"id":"11b51b6a.9334d5","type":"ui_chart","z":"4f136ffc.204058","name":"","group":"75ff2419.1bec1c","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":450,"y":360,"wires":[[]]},{"id":"75ff2419.1bec1c","type":"ui_group","name":"Default2","tab":"4f4d581d.64506","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f4d581d.64506","type":"ui_tab","name":"Home","icon":"dashboard"}]