Node-RED-flow3-meteo.txt
[{"id":"9fd4dab9.d17b8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"894a5eef.6467","type":"inject","z":"9fd4dab9.d17b8","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["8cbecb86.ab528"]]},{"id":"8cbecb86.ab528","type":"openweathermap","z":"9fd4dab9.d17b8","name":"Meteo","wtype":"current","lon":"","lat":"","city":"Palermo","country":"Italia","language":"it","x":270,"y":80,"wires":[["fbb71577.05fd68"]]},{"id":"846c04e0.668d08","type":"debug","z":"9fd4dab9.d17b8","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"out","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"fbb71577.05fd68","type":"function","z":"9fd4dab9.d17b8","name":"Format","func":"msg.out={};\nmsg.out.where = msg.payload.location;\nmsg.out.weather = msg.payload.weather;\nmsg.out.temp = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[["846c04e0.668d08"]]}]