IoT/Node-RED-flow2-database.txt
[{"id":"287d2c0a.8a66ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6e9212db.b19854","type":"inject","z":"287d2c0a.8a66ec","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["dc46afb6.7ee57"]]},{"id":"dc46afb6.7ee57","type":"function","z":"287d2c0a.8a66ec","name":"Query","func":"msg.operation = \"find.toArray\";\nmsg.payload = {$and: [\n                {candy_count: 50},\n                {weaknesses: \"Ice\"}\n               ]};\n    \n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":120,"wires":[["3c1cea9d.edf6be"]]},{"id":"3c1cea9d.edf6be","type":"mongodb2 in","z":"287d2c0a.8a66ec","service":"_ext_","configNode":"65504d3b.1dd2d4","name":"Database","collection":"pokemons","operation":"","x":420,"y":120,"wires":[["fb587809.522a98","8cb4308c.0b9be8"]]},{"id":"fb587809.522a98","type":"debug","z":"287d2c0a.8a66ec","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"70b7c70a.6679d","type":"http in","z":"287d2c0a.8a66ec","name":"ConnessioneHTTP","url":"/pokemons","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["dc46afb6.7ee57"]]},{"id":"8cb4308c.0b9be8","type":"template","z":"287d2c0a.8a66ec","name":"Webapage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n   <head>\n       <title>Pokemons</title>\n   </head> \n   <body>\n       <h1>Pokemons</h1>\n       {{#payload}}\n       <h4>{{name}}</h4>\n       <p>Tipo: <i>{{type}}</i></p>\n       <p>Debolezze: <i>{{weaknesses}}</i></p>\n       <p>Cibo: <i>{{candy_count}}</i></p>\n       <img src={{img}} />\n       {{/payload}}\n   </body>\n</html>","output":"str","x":590,"y":180,"wires":[["83e2afcd.d2a64"]]},{"id":"83e2afcd.d2a64","type":"http response","z":"287d2c0a.8a66ec","name":"RispostaHTTP","statusCode":"","headers":{},"x":860,"y":180,"wires":[]},{"id":"65504d3b.1dd2d4","type":"mongodb2","uri":"mongodb://localhost:27017/DBTest","name":"DBTest","options":"","parallelism":"-1"}]